.minigame-button,
    .game-option {
        font-size: 0.9rem;
        color: #fff;
        background-color: #6200ea;
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none; /* Entfernt die Standard-Link-Unterstreichung */
        text-align: center; /* Zentriert den Text im Button */
        display: inline-block; /* Verhindert, dass der Button wie ein Inline-Link aussieht */
        transition: background-color 0.3s ease, transform 0.2s ease;
    }

    .minigame-button:hover,
    .game-option:hover {
        background-color: #3700b3;
        transform: scale(1.1);
    }
